* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  body{
      background-color: #ffeedf;
  }

  #root{
    display:flex;
    justify-content: space-around;
  }

  .header{
      width:100%;
      height:60px;
      position: fixed;
      display: flex;
      justify-content: space-between;
      background-color: #ffeedf;
      color:#145434;
      border-bottom: 1px solid #145434;
  }

  .header h1{
      font-size: 36px;
      font-family: 'Space Grotesk', sans-serif;
      padding-left:10px;
      z-index:-1
  }

  button{
      font-size: 36px;
      font-family: 'Space Grotesk', sans-serif;
      padding-right:10px;
  }


  .container{
    max-width: 1200px;
    gap:60px;
    display:grid;
    grid-template-columns: auto auto;
    margin-top: 120px;
    margin-bottom: 60px;
  }

  h5{
    width:40px;
    height:40px;
    font-size: 24px;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #ffeedf;
    color:#145434;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid #145434;
    position: relative;
    left:-20px;
    top:-20px;
  }

  .card h1{
    font-size: 36px;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0px 20px 0px 20px;
    width: 90%;
    padding-bottom: 60px;
    border-bottom: 1px solid #ffeedf
  }

  h2{
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    padding-left: 40px;
    padding-top: 15px;
  }

  h4{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
    padding-left: 40px;
  }

  .card button{
    width:200px;
    height:50px;
    font-size: 14px;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #ffeedf;
    color:#145434;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right:-320px;
    bottom:-50px;
    border: 2px solid #145434;
  }

  .material-symbols-outlined{
    font-size:36px;
    position: absolute;
    right: 5px;
  }

  .card{
    position: relative;
    width: 500px;
    min-width: 500px;
    height: 300px;
    background-color:#145434;
    color:#ffeedf;
  }

  .card button:hover{
    background-color: #145434;
    color:#ffeedf;
    border: 2px solid #ffeedf;
    z-index: 1;
  }

  @media only screen and (max-width: 1100px) {
    .container {
      grid-template-columns: auto;
    }
  }